@model IEnumerable<E_Commerce_Web_App.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Orders</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Order_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Order_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Order_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
